<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About</title>
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <style>
    h2{
        justify-content: center;
        display: flex;
        font-weight: bolder;
        color:black;
    }
    p {
        font-size: 25px;
        justify-content: center;
        display: flex;
        font-weight: bolder;
        color:black;
      }  
  </style>
</head>

<body style="background-image:url('{% static 'portal/jobs.jpg'%}');background-repeat:no-repeat; background-size:100%">
  <nav class="p-3 mb-2 bg-dark text-white">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/job">Find Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
    </ul>
  </nav>
  <div>
    <h2>About</h2>
    <p>A job portal is an online platform that serves as an intermediary between job seekers and employers. It provides a digital space where job seekers can explore various employment opportunities and connect with potential employers, while companies can post job openings and search for suitable candidates to fill their vacancies. Job portals have revolutionized the traditional job search process by making it more efficient, accessible, and user-friendly.</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>